fastapi
uvicorn[standard]
opencv-python-headless
numpy
supabase>=2.13.0
httpx>=0.27.0
pydantic
qrcode [pil]
pillow
python-multipart
PyMuPDF
weasyprint
jinja2
reportlab>=4.4.7,<55.0
uharfbuzz>=0.55.0
pydantic
requests
